# Python
venv/
__pycache__/
*.pyc

# C#
[Bb]in/
[Oo]bj/
*.user
*.db
*.db-shm
*.db-wal

# Mac/Windows
.DS_Store
Thumbs.db

# Docker secrets
.env

# Sensitive configuration files
appsettings.json
appsettings.Development.json

# Logs
logs/
*.csv